.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  height: 240px;
  width: 240px;
  margin-top: 30px;
  transition: 0.4s;
  border: 2px solid black;
  border-radius: 50%;
}

.hero img:hover {
  transform: scale(1.08);
  border: 2px solid white;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 60px;
  font-weight: 400;
}

.hero h1 span {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 16px;
}

.hero-connect {
  padding: 18px 23px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  cursor: pointer;
}

.hero-resume {
  padding: 18px 40px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume:hover {
  border: 2px solid #cf556c;
}

.hero-action a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .hero img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
  }
  .hero h1 {
    width: 90%;
    font-size: 40px;
  }
  .hero p {
    width: 90%;
    font-size: 16px;
    line-height: 25px;
  }
  .hero-action {
    gap: 16px;
    font-size: 15px;
    font-weight: 400;
  }
  .hero-connect {
    padding: 20px 15px;
    border-radius: 40px;
  }
  .hero-resume {
    padding: 20px 35px;
    border-radius: 40px;
  }
}
